.worksBlock {
    min-height: 100vh;
    background-color: #8ac5f1}

.worksContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #90fd90;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}