@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.mainBlock {
  min-height: 110vh;
  background: $mainBGColor;
  padding-top: 120px;


  .container {
    justify-content: center;
  }

  .introduce {
    width: 60%;
    background-color: $mainBGColor;
    padding-right: 10px;
    span {
      @include text(24px, 36px);
      @media screen and (max-width: 674px) {
        @include text(19px, 32px);
      }
    }

    h1 {
      @include text(42px, 52px);
      color: $primaryColor;
      @media screen and (max-width: 674px) {
        @include text(36px, 42px);
        color: $primaryColor;
      }
      span{
        @include text(42px, 52px);
        position: relative;
        z-index: 0;
        display: inline-block;
        &:before{
          content: '';
          position: absolute;
          width: 100%;
          height: 14px;
          background-color: $primaryColor;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
        }
        @media screen and (max-width: 458px) {
          color: $primaryColor;
          &:before{
            content: none;

          }
        }
      }

    }

    p {
      @include text(24px, 36px);
      @media screen and (max-width: 674px) {
        @include text(22px, 32px);
      }
    }
    .info{
      @include text(19px, 32px);
      .mainInfo{
        @include text(22px, 32px);
      }
    }
    @media screen and (max-width: 945px) {
      order: 2;
      text-align: center;
      width: 770px;
    }

  }

  .photo{
    position: relative;
    z-index: 1;
    .image {
      width: 350px;
      height: 430px;
      background-color: bisque;
      @include background(center, cover, no-repeat);
      box-shadow: inset rgba(0,0,0,.5) -3px -3px 8px,
      inset rgba(255, 255, 255, .9) 3px 3px 8px,
      rgba(0, 0, 0, .8) 3px 3px 8px -3px;;

      &:before{
        content: '';
        position: absolute;
        height: 110%;
        width: 105%;
        border: 5px solid $primaryColor;
        left: 15px;
        top: -15px;
        z-index: -1;
      }
      @media screen and (max-width: 945px) {
        order: 1;
        width: 270px;
        height: 270px;
        border-radius: 50%;
        border: 4px solid $primaryColor;
        margin: 0 auto 25px;
        &:before {
          content: none;
        }
      }
      @media screen and (min-width:946px) and (max-width: 1093px) {
        width: 300px;
      }
    }
  }

}





