.skillsBlock {
    min-height: 80vh;
    background-color: #90fd90;

}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #8ac5f1;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}