@import "../../common/styles/sass/variables";

.skillsBlock {
  min-height: 80vh;
  background-color: $mainBGColor;

  .skillsContainer {
    justify-content: flex-start;
    flex-direction: column;

    .skills {
      padding-top: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 674px) {
        justify-content: center;

      }
    }

  }

}





